* {
  border-style: border-box;
}

@font-face {
 font-family: "tinderFont";
 src: url(fonts/tinderFont.ttf);
}

html {
  position: relative;
}

html, body, #wrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll; overflow-x:hidden;
}

.container-fluid {
 padding-left: 0px;
 padding-right: 0px;
}

header {
 min-width: 100vh;
 height: 6.5vh;
 position: relative;
}

#main-heading-text {
  font-family: "tinderFont";
  text-shadow:
    -1px -1px 0 #ea474c ,
    1px -1px 0 #ea474c ,
    -1px 1px 0 #ea474c ,
    1px 1px 0 #ea474c ;
  color: #003366 ;
  font-size: 2.75em;
  display: inline;
  vertical-align: middle;
  margin-right: 35%;
  margin-left: 35%;
}

#main-heading {
 background-color: #003366 ;
 border-bottom: 4px solid lightgray;
 overflow: auto;
 padding-bottom: 0.5%;
 padding-top: 0.5%;
 text-align: center;
}

#mood-text {
 color: #ea474c ;
 font-family: "tinderFont";
}

#mood-text2 {
 text-shadow:
   -1px -1px 0 #ea474c ,
   1px -1px 0 #ea474c ,
   -1px 1px 0 #ea474c ,
   1px 1px 0 #ea474c ;
 color: #003366 ;
 font-family: "tinderFont";
}

#facebook-wrapper {
  text-align: right;
  vertical-align: middle;
  display: inline;
}

#contact-us {
  font-size: 1.25em;
  color: #ea474c;
  text-shadow:
    -1px -1px 0 #003366 ,
    1px -1px 0 #003366 ,
    -1px 1px 0 #003366 ,
    1px 1px 0 #003366;
  vertical-align: middle;
  display: inline;
  cursor: pointer;
}

#main-section {
 background-image: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.05)), url("../images/backgroundImage3.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 min-width: 100vh;
 min-height: 100vh;
}

#facebook-greeting {
  color: white;
  margin-bottom: 4%;
  text-align: center;
}

#opening-greeting {
  text-align: center;
  color: white;
  font-size: 4em;
  margin-bottom: 2%;
  margin-top: 2%;
}

#location-form {
  padding-left: 5%;
  padding-right: 5%;
}

#status {
  color: white;
}

#cuisine-type {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-top : 30px;
  color: white;
  font-family: "tinderFont";
  background-color: black;
  padding-left: 20px;
  background-image: linear-gradient(rgba(255,255,255,0.10),rgba(255,255,255,0.1));
  box-shadow: 10px 10px 5px black;
}

.form-check-input {
  vertical-align: middle;
  margin-right: 1%;
}

#cuisine-header {
  text-align: center;
  margin-top: 10px;
  font-size: 3em;
  border-bottom: 2px solid white;
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 1%;
}

.food-list {
  font-size: 2.5em;
  cursor: pointer;
}

.food-list:hover {
  color: #C40000;
  font-family: "tinderFont";
  cursor: pointer;
}

#get-started {
  cursor: pointer;
  font-size: 2.5em;
  padding-left: 2%;
}

#get-started-text {
 color: #ea474c;
 text-decoration: none;
}

#get-started-text:hover {
  color: red;
}

#footer-content {
  border-top: 4px solid lightgray;
  height: 8vh;
  background-color: black;
}

#copyright {
  margin-top: 1%;
  text-align: center;
  color: white;
}


#food-img {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 50px;
}

#food-images-div {
  overflow: auto;
  margin-bottom: 5%;
}

#show-photo-div {
  margin-top: 25px;
  background-image: linear-gradient(rgba(255,255,255,0.10),rgba(255,255,255,0.1));
  box-shadow: 10px 10px 5px black;
  background-color: black;
  margin-bottom: 25px;
}

#yelp-logo {
  z-index: 1;
  position: absolute;
  bottom: 0%;
  right: 5%;
  height: 75px;
  width: 125px;
}

#like-btn {
  height: 65%;
  width: 25%;
}

#dislike-btn {
  height: 65%;
  width: 25%;
}

#love-photo {
  margin-top: 25px;
  background-image: linear-gradient(rgba(255,255,255,0.10),rgba(255,255,255,0.1));
  box-shadow: 10px 10px 5px black;
  background-color: black;
  margin-bottom: 25px;
}

#business-display {
  text-align: center;
  color: white;
  margin-top: 25px;
}

#yelp-logo-2 {
  height: 100%;
  width: 30%;
}

#rating-display-div {
  text-align: center;
}

#review-count-display {
  color: white;
  padding-left: 12%;
  padding-top: 2%;
}

#yelp-logo-rating {
  padding-right: 8%;
}

#not-satisfied {
  text-align:center;
  color: white;
  font-size: 1.75em;
}

#return-btn {
  margin-right: 1%;
}

#buttons-div {
  margin-bottom: 25px;
  text-align: center;
}

#google-maps {
  width: 90%;
  height: 400px;
}

#like-buttons-div {
  margin-left: 29%;
}

#close {
 position:absolute;
 right:14px;
 top:14px;
 cursor: pointer;
 height: 20px;
 width: 20px;
}

#contact-us-form {
 z-index: 2;
 width:100%;
 height:100%;
 opacity:0.95;
 top:0;
 left:0;
 display: none;
 position: fixed;
 overflow: auto;
}

#popup-contact {
 position:absolute;
 left:50%;
 top:17%;
 margin-left:-202px;
 font-family:'Raleway',sans-serif;
}

#user-name, #user-email, #user-msg {
 padding: 5px;
 border: 1px solid #ccc;
 font-size: 1em;
}

#user-name, #user-email {
  width: 95%;
}

textarea {
 background-position: 5px 7px;
 width: 95%;
 height: 20%;
 padding: 10px;
 margin-top: 30px;
 border:1px solid #ccc;
 font-size: 1em;
 font-family: raleway;
 margin-bottom: 30px;
}

 #form {
 width: auto;
 height: 100%;
 padding-right: 10%;
 padding-top: 4%;
 padding-bottom: 4%;
 padding-left: 10%;
 border: 2px solid gray;
 border-radius: 10px;
 font-family: raleway;
 background-color:#fff;
}
